h1 {
  font-size: 210%;
  margin-bottom: 0;
  padding-bottom: 1.1rem;
  padding-top: 0rem;}

h2 {
  font-size: 170%;
  margin-bottom: 0;
  padding-bottom: 0.8rem;;
  padding-top: 1.6rem;}

p {
  font-size:115%;
  margin-bottom: 0;
  padding-bottom: 0.8rem;
  line-height: 1.6rem;
  padding-top: 0.5rem;}

.expl {
  font-size: 90%;
  margin-top: -1rem;
  line-height: 1.2} /*мелкие дисклеймеры*/

.cup {
  text-decoration: none;} /*кубок email-competitors*/

.name {
    margin-top: 1rem;
    font-size: 240%;
    padding-bottom: 1rem;
    font-weight: bold;}

.copyright {
    font-size: 95%;
    margin-top: 3rem;
    padding-bottom: 0.1rem !important;}

.case {
    margin-bottom: -3rem;}

.link {
  padding-bottom: 0.5rem;
  padding-top: 0.2rem;}

.subline {
  font-size:113%;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 0.1rem;
  padding-top: 0;}

.row {
  display: flex;
  margin-bottom: 30px;
  margin-right: 15px;}