body, h1, p {
    margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.header{
    /*background-color: bisque;*/
    margin-left: 120px; margin-top: 60px;
    display: flex;
    
}

.header-photo {
    display: block;
}

.header-info {
    line-height: 40px;
    display: block;
    margin: auto;
    margin-left: 40px;
    
}
.header-title {
    font-weight: bold;
    font-size: 40px;
    display: block;
}
         
.header-subline { 
    font-weight: normal;
    font-size: 18px;
}

.info {
    margin: 40px 140px 60px 120px;
    display: block;
}

.text {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.casebox {
    margin: 0px 120px 50px;
    display: inline-block;
    /*background-color: dimgray;*/
}
.case {
    display: flex;
}

.case-title {
    font-weight: bold;
    font-size: 34px;
    margin-left: 120px;
    margin-bottom: 20px;
    
}

.case-company {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 16px;
}

.copyright {
    font-size: 16px;
    margin-left: 120px;
    margin-bottom: 20px;
}

.no-left-margin {
  margin-left: 0;
}